@using QL_NhanSu.Models
@using PagedList.Mvc;
@model PagedList.PagedList<ChiTietPT>

@{
    ViewBag.Title = "Phụ trội";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<div id="sidebar" style="float:left; margin-left:0;">
    <div class="box">
        <h3>Chào @ViewBag.Taikhoan</h3>
        <ul class="list">
            <li>
                <a href="/NguoiDung/ChitietNV/@ViewBag.MaNV">Thông tin tài khoản</a>
            </li>
            <li>
                <a href="/NguoiDung/CCNhanVien/@ViewBag.MaNV">Xem chấm công</a>
            </li>
            <li>
                <a href="/NguoiDung/PTNhanVien/@ViewBag.MaNV">Xem phụ trội</a>
            </li>
            <li>
                <a href="/NguoiDung/KTKLNhanVien/@ViewBag.MaNV">Khen thưởng - Kỷ luật</a>
            </li>
            <li>
                <a href="/NguoiDung/LuongNhanVien/@ViewBag.MaNV">Lương</a>
            </li>
            <li>
                <a href="/NguoiDung/DoiMatKhau/@ViewBag.Taikhoan">Đổi mật khẩu</a>
            </li>
            <li>
                <a href="@Url.Action("DangXuat", "NguoiDung")">Đăng xuất</a>
            </li>
        </ul>
    </div>
</div>

<div style="margin-left:230px">
    <h2 style="text-align:center;">Xem chấm công</h2>
    <hr />
    <table class="table">
        <tr>
            <th>
                Ngày
            </th>
            <th>
                Số giờ phụ trội
            </th>

        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Ngay/@item.Thang/@item.Nam
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GioPT)
                </td>
            </tr>
        }
    </table>
    <div>
        <ul class="pagination">
            @Html.PagedListPager(Model, page => Url.Action("PTNhanVien", new { page = page }))
        </ul>
    </div>
</div>
