@using QL_NhanSu.Models
@using PagedList.Mvc;
@model IEnumerable<QL_NhanSu.Models.NhanVien>

@{
    ViewBag.Title = "Quản lý nhân viên";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section Header{
    <div class="col-lg-12">
        <h1 class="page-header">Nhân viên</h1>
    </div>
}
<br />


<table id="table_id"
       class="table table-condensed table-striped table-hover">
    <thead>
        <tr>
            <th>
                Mã NV
            </th>
            <th>
                Họ tên
            </th>
            <th>
                SĐT
            </th>
            <th>
                Email
            </th>
            <th>
                Ngày vào làm
            </th>
            <th>
                QĐTD
            </th>
            <th>
                Nhân viên
            </th>
            <th>
                Hợp đồng TD
            </th>
            <th>
                Tác vụ
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MaNV)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HoTen)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SDT)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @item.NgayVaoLam.ToShortDateString()
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaQD)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TinhTrang)
                </td>
                <td>
                    @{
                        if (item.TinhTrang == "Chính thức")
                        {
                            @Html.DisplayFor(modelItem => item.MaHD)
                        }
                        else
                        {
                            if ((DateTime.Now - item.NgayVaoLam).TotalDays >= item.QuyetDinhTD.ChucVu.ThoiGianThuViec)
                            {
                                @Html.ActionLink("Lập hợp đồng", "LapHopDong", new { id = item.MaNV })
                            }
                            else
                            {
                                <p>Chưa đủ điều kiện</p>
                            }
                        }
                    }
                </td>
                <td>
                    @Html.ActionLink("Chi tiết", "ChitietNhanVien", new { id = item.MaNV })
                    <i class="fa fa-info-circle" aria-hidden="true"></i>|
                    @Html.ActionLink("Xóa", "XoaNhanVien", new { id = item.MaNV })
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                </td>
            </tr>
        }
    </tbody>
</table>
@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#table_id').dataTable();
        });
    </script>
    <script src="https://cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/9dcbecd42ad/integration/jqueryui/dataTables.jqueryui.js"></script>

}
@section css
{
    <link rel="stylesheet"
          href="https://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet"
          href="https://cdn.datatables.net/plug-ins/9dcbecd42ad/integration/jqueryui/dataTables.jqueryui.css">

}

