<!DOCTYPE html>
<html lang="en">

@{
    if (Session["Taikhoanadmin"] == null || Session["Taikhoanadmin"].ToString() == "")
    {
        Response.Redirect("~/Admin/Login");
    }
}


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewBag.Title</title>
    <!-- Bootstrap Core CSS -->
    <link href="~/Asset/Admin/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- MetisMenu CSS -->
    <link href="~/Asset/Admin/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/Asset/Admin/dist/css/sb-admin-2.css" rel="stylesheet">
    <!-- Morris Charts CSS -->
    <link href="~/Asset/Admin/morrisjs/morris.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="~/fonts/css/font-awesome.min.css" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->

    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("css", false)
</head>
<body>
    <div id="wrapper">
        <!-- Navigation -->
        @Html.Partial("_Menu")

        <div id="page-wrapper">
            <div class="row">
                @RenderSection("Header", required: true)
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            @RenderBody()
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="~/Asset/Admin/vendor/jquery/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="~/Asset/Admin/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!-- Metis Menu Plugin JavaScript -->
    <script src="~/Asset/Admin/vendor/metisMenu/metisMenu.min.js"></script>
    <!-- Morris Charts JavaScript -->
    <script src="~/Asset/Admin/vendor/raphael/raphael.min.js"></script>
    <script src="~/Asset/Admin/morrisjs/morris.min.js"></script>
    <script src="~/Asset/Admin/data/morris-data.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="~/Asset/Admin/dist/js/sb-admin-2.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
