@using QL_NhanSu.Models
@using PagedList.Mvc;
@model PagedList.PagedList<QuyetDinhTD>

@helper Truncate(string input, int length)
{
    if (input.Length < length)
    {
        @input
    }
    else
    {
        @input.Substring(0, length)<text>...</text>
    }
}

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<div id="sidebar" style="float:left; margin-left:0;">
    <div class="box">
        <h3>Phòng ban</h3>
        <ul class="list">
            @Html.Action("PhongBan", "NhanSu")
        </ul>
    </div>
    <div class="box">
        <h3>Chức vụ</h3>
        <ul class="list">
            @Html.Action("ChucVu", "NhanSu")
        </ul>
    </div>
</div>
<div style="margin-left:230px">
    <h2 style="text-align:center;">Tuyển dụng</h2>
    <table class="table table-hover" style="width:700px">
        <thead>
            <tr>
                <th scope="col">Phòng ban</th>
                <th scope="col">Chức vụ</th>
                <th scope="col">Mô tả</th>
                <th scope="col">Ngày cập nhật</th>
                <th scope="col">Số lượng</th>
                <th scope="col">Ứng viên</th>
                <th scope="col"></th>
            </tr>
        </thead>
        @foreach (var qd in Model)
        {
            <tr>
                <th scope="col">
                    @qd.PhongBan.TenPhongBan
                </th>
                <th scope="col">
                    @qd.ChucVu.TenChucVu
                </th>
                <th scope="col">
                    @Truncate(qd.Mota,50)
                </th>
                <th scope="col">
                    @qd.Ngaycapnhat.ToShortDateString()
                </th>
                <th scope="col" style="color:red">
                    @qd.SoLuong
                </th>
                <th scope="col" style="color:red">
                    @qd.SoHoSo
                </th>
                <th scope="col">
                    <a href="@Url.Action("Details","NhanSu", new { id = qd.MaQD })">Chi tiết</a>
                </th>
            </tr>
        }
    </table>
    @*<div>
        <ul class="pagination">
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
        </ul>
    </div>*@
    <div class="pagination">
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
    </div>
        <style>
            .MenuTrang {
                float: right;
            }

                .MenuTrang li {
                    display: inline;
                }
        </style>
</div>

